<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body>
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            {% block content %}{% endblock %}
        </div>
        <div class="span4">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Search</li>
                        <li><div id="search">
                            <form action="http://www.google.com/search" method="get">
                                <fieldset>
                                    <input type="text" class="input-medium" name="as_q" />
                                    <input type="hidden" name="as_sitesearch" value="kdl.nobugware.com/post" />
                                </fieldset>
                            </form>
                            </div>
                        </li>
                        <li class="nav-header">About Me</li>
                        <li><address><strong>Fabrice Aneche</strong><br>
                            <a href="http://twitter.com/akhenakh">@akhenakh</a>
                            </address>
                        </li>
                        <li class="nav-header">Links</li>
                        <li><a href="http://www.nobugware.com"><i class="icon-info-sign"></i>Nobugware company</a></li>
                        <li><a href="http://www.nobugware.com/static/resume.html"><i class="icon-user"></i>Resume</a></li>
                        <li><a href="http://github.com/akhenakh"><i class="icon-eye-open"></i>Github</a></li>
                        <li class="nav-header">Best of</li>
                        {% for bestof in Post.query(Post.status==Post.LIVE_STATUS,Post.is_bestof==True).order(-Post.publication_date).iter(projection=[Post.title]) %}
                            <li><i class="icon-hand-right"></i><small><a href="/post{{ bestof.key.id() }}">{{ bestof.title }}</a></small></li>
                        {% endfor %}
                    </ul>

            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        {% block footer %}
        {% endblock footer %}
        <p class="muted credit">Fabrice Aneche, powered by webapp2 & Jinja2</p>
    </div>
</div>


<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">

</script>
<script type="text/javascript">
    _uacct = "UA-1245966-1";
    urchinTracker();
</script>

</body>
</html>